<ion-content>
      
    <div id='map'></div>
    <ion-back-button color="danger" defaultHref="/tabs"
    text="" class="boton-regresar" icon="close-circle"
    >
    </ion-back-button>

</ion-content>
