<ion-content>

  <ion-back-button color="danger" defaultHref="/tabs"
    text="" class="boton-regresar" icon="close-circle"
    >
  </ion-back-button>
  <ion-row>
    <ion-col size="4"></ion-col>
    <ion-col size="4">
      {{texto}}
      <br>
      <br>
      <ion-button (click)="copyClip()" color="dark" expand="block" fill="outline" shape="round">
        Copiar
      </ion-button>
      
    </ion-col>
    <ion-col size="4"></ion-col>
  </ion-row>

</ion-content>
