.boton-regresar{
    position:fixed;
    top:3%;
    left:3%;
    font-size:30px !important;
}
ion-slides, ion-slide{
    height: 100%;
    width:100%;
}
ion-row{
    margin-top:46%;
}
ion-col{
    text-align: center;
}