<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="barcode"></ion-icon>
      <ion-label>Escanear</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="server-outline"></ion-icon>
      <ion-label>Historial Remoto</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <ion-icon name="desktop-outline"></ion-icon>
      <ion-label>Historial Local</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
