<ion-header no-border [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Historial Remoto
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let registro of dataLocal.guardados">
   
    <ion-card-content>
      <ion-list>
        <ion-item-sliding>
          <ion-item>
            <ion-icon color="primary" slot="start" [name]="registro.icon"></ion-icon>
            <ion-label>{{registro.text}}</ion-label>
            <ion-text color="info" style="font-size: 12px;">
              {{registro.created | date:'medium'}}
            </ion-text>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="success" (click)="abrirRegistro(registro)">
              <ion-icon slot="start" name="send"></ion-icon>
            </ion-item-option>  
            <ion-item-option (click)="eliminarLista(registro.registroId)" color="danger">
              <ion-icon  name="trash"></ion-icon>
            </ion-item-option>   
                    
            
  
          </ion-item-options>    
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
