<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>
 -->
<ion-content [fullscreen]="true">
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <ion-button (click)="scan()" color="dark" expand="block" fill="outline" shape="round">
        <ion-icon name="scan-outline"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
